header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
 text-decoration: none;
 color: white;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}